<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 50 Global Songs</title>
    <link rel="stylesheet" th:href="@{/CSS/chart_styles.css}">
    <link rel="stylesheet" th:href="@{/CSS/colors.css}">
    <link rel="stylesheet" th:href="@{/CSS/navbar.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="song-list-container">
        <h1><div th:text="${chartName.get('chart_type')}"></div></h1>
        <ul th:each="song : ${Chartsongs}">
            <li onclick="window.location.href='player.html?songId=1'"><div th:text="${song.get('track_name')}"></div></li>
        </ul>
    </div>
</body>
</html>